* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

ol,ul,li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hide-word-one {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
}
